FRAME_FOR_LINE RCDATA "Shaders\\FrameForLine.bin"
LINE_PS_N RCDATA "Shaders\\LinePixelShader.bin"
LINE_PS_SEL RCDATA "Shaders\\LinePixelShaderSelect.bin"
LINE_PS_UC RCDATA "Shaders\\LinePixelShaderUnderCursor.bin"
LINE_VS RCDATA "Shaders\\LineVertexShader.bin"
FRAME_FOR_RECT_PS RCDATA "Shaders\\mainFrameforRect.bin"
FORLINE_UC_PS RCDATA "Shaders\\mainlineUnderCursor.bin"
PEN_MAIN_PS RCDATA "Shaders\\PenMain.bin"
PS_LINE_DASHED RCDATA "Shaders\\PLineMain.bin"
PS_LINE_POINTS RCDATA "Shaders\\PointsLineMain.bin"
POINTS_STYLE_RL_PS RCDATA "Shaders\\PointsLineMainLR.bin"
TRIANGLE_VS_FILL_VS_RECT RCDATA "Shaders\\TrianglePrimitiveRVSFill.bin"
TRI_RECT_VS_LINE RCDATA "Shaders\\TrianglePrimitiveRVSLine.bin"
TRI_ELIPS_NLINE RCDATA "Shaders\\TrianglePrimitiveVSELINE.bin"
TRIANGLE_VS_FILL_VS RCDATA "Shaders\\TrianglePrimitiveVSFill.bin"
